table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background: bisque;
}










/*div {*/
/*    font-family: "Comic Sans MS";*/
/*}*/
/*.MainHeader{*/
/*    color: darkblue;*/
/*    height: 230px;*/
/*    font-size: 25px;*/
/*    text-align: center;}*/

/*.background{*/
/*    background: bisque;*/
/*}*/
/*#inner-text{*/
/*    background: beige;*/
/*}*/